/* Vars */
$success: #39aa56;
$primary: black;

/* Libs */
@import 'bulma';
@import 'font-awesome';

/* Styles */
@import './layouts/landing';
@import './layouts/dashboard';

@import './components/app-header';

/* Reset */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: auto;
}

