.b-wallpaper {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/assets/images/wallpaper.jpg);
  background-color: white !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.b-logo {
  &__icon {
    width: 2rem;
    height: 2rem;
  }
  &:hover &__icon {
    transform: rotate(-15deg);
  }
}

.b-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  &__content.is-active, &__content.b-header__content--white {
    background-color: whitesmoke;
    .nav-toggle span {
      background-color: black;
    }
  }
}
