.b-technologies {
  &__images {
    text-align: right;
    @media screen and (max-width: 845px) {
      text-align: center;
    }
  }
  &__text {
    text-align: left;
    @media screen and (max-width: 845px) {
      text-align: center;
    }
  }
}

.b-music {
  color: #3eaaaf !important;
  text-align: left;
  @media screen and (max-width: 845px) {
    text-align: center;
  }
}
