<div class="dashboard-layout">
  {{app-header}}

  <div class="hero dashboard">
    <div class="dashboard-content">
      <aside class="dashboard-projects">
        <ul class="">
          <li class="">shit</li>
          <li class="">shit</li>
          <li class="">shit</li>
        </ul>
      </aside>
      <main class="dashboard-builds">
        {{outlet}}
      </main>
    </div>
  </div>
</div>